<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:property-placeholder location="classpath:/database.properties" />
	<context:component-scan base-package="com.wellmanage" />
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:config/smoke-testing-${environment}.properties
				</value>
				<value>classpath*:application-sql.properties
				</value>
			</list>
		</property>
	</bean>

	<bean id="slsOtsDAO" class="com.wellmanage.database.SlsOtsDao">
		<property name="datasource" ref="slsOtsDataSource" />
	</bean>
	<bean id="slsOtsDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		primary="true" destroy-method="close">
		<property name="driverClassName" value="${database.driver}" />
		<property name="url" value="${ots.db.url}" />
		<property name="username" value="${ots.db.username}" />
		<property name="password" value="${ots.db.password}" />
	</bean>



</beans>